// Fuentes
$font_primary: 'Outfit', sans-serif;

// Tamaño de Media Queries
$mobile: 480px;
$tablet: 769px;
$desktop: 1024px;
$xl_desktop: 1200px;
$spacing: 5rem;

// Colores
$primary: #007df4;
$secondary: #00c8c2;
// $info: #2563EB;
// $accent: #4338CA;
// $warning:#F59E0B;
$error: rgb(169, 0, 0);
$success: #02db02;
// Common
$white: #fff;
$black: #000;
// Gray Scale
$gray: #64748B;
$grayLight: #eeeeee;
$grayDark: #1E293B;
$dark: #0d1117;

$darkBackground: #0f1116;
// $editorBackground: #191c23;

// Fuentes
$light: 300;
$normal: 400;
$bold: 700;
$heavy: 900;
